<main>
  <section class="forms">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
      <div class="header">
        <h1>Kushki</h1>
        <h1>Track</h1>
      </div>
      <div class="input__wrapper">
        <label class="label-form">Email</label>
        <input class="input-form" type="text" placeholder="email@email.com" />
      </div>
      <div class="input__wrapper">
        <label class="label-form">Password</label>
        <input class="input-form" type="password" placeholder="At least 8 characters" />
      </div>
      <a class="button" id="login">Login</a>
      <br>
      <div class="footer-info">
        <p class="text">Don't have an account? <a routerLink="/register">Sign up</a></p>
        <p class="text">Forgot your password? <a routerLink="/forgot-password">Reset it</a></p>
      </div>
    </form>
    <div class="pixel-effect">
      <div class="overlays"></div>
    </div>
  </section>
</main>